<!DOCTYPE html>
<html>
  <head>
    <title>Goose Hunt</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Goose Hunt</h1>
		<p>Search User here</p>
		<form action="/login" method="post">
			<label for="username">username:</label>
			<input type="text" id="username" name="username"><br/>
			<label for="password">password:</label>
			<input type="text" id="password" name="password"><br/>
			<input type="submit" value="login">
		</form>
  </body>
</html>
